<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustodianLifeInsurance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <script src="https://kit.fontawesome.com/beb513e456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
  <div class="nav-section">
    <ul class="nav justify-content-end text-white bg px-5">
      <li class="nav-item m-0 p-2">
        <a class="nav-link text-white p-2 bolder" href="#">Claims</a>
      </li>
      <li class="nav-item m-0 p-2">
        <a class="nav-link text-white custodian-number p-2" href="#">0700-Custodian</a>
      </li>
      <li class="nav-item m-0 p-2">
        <a class="nav-link text-white p-2 whatapp"> Whatapp: +234 808 567 8965</a>
      </li>
    </ul>
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
      <div class="container">
        <a class="" href="#">
          <img src="~/img/CLA.png" class="img-fluid" width="200px" alt="Custodian logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item text-center">
              <a class="nav-link active nav-links-items" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-links-items drop-down-icon" href="#">Products</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link nav-links-items" href="#">About Us</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link nav-links-items drop-down-icon" href="#">News</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link nav-links-items" href="#">Investors</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link nav-links-items" href="#">Contact</a>
            </li>
            <li class="nav-item d-flex justify-content-center align-text-center">
              <div style="background-color: #900000;" class="p-1"> <a class="nav-link text-white">SELF SERVICE</a></div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

    
            @RenderBody()

  <div class="container-fluid px-2 py-4 footer">
    <div class="mx-2 row py-5">
      <div class="col-md-4 col-sm-12 px-5">
        <img src="~/img/CLA_White.png" width="300px" class="img-fluid" alt="">
        <div class="socials">
          <h5 class="socials">Follow us social media</h5>
          <div class="row">
            <div class="col-sm-2">
              <img src="~/img/Asset 5.png" width="40px" alt="facebook">
            </div>
            <div class="col-sm-2">
              <img src="~/img/Asset 6.png" width="40px" alt="facebook">
            </div>
            <div class="col-sm-2">
              <img src="~/img/Asset 7.png" width="40px" alt="facebook">
            </div>
            <div class="col-sm-2">
              <img src="~/img/Asset 8.png" width="40px" alt="facebook">
            </div>
            <div class="col-sm-2">
              <img src="~/img/Asset 9.png" width="40px" alt="facebook">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 px-5">
        <div>
          <h6>Our Products</h6>
          <div class="row pt-3">
            <div class="col-md-6 col-sm-12">
              <div>
                <div class="p-1">Education Endowment</div>
                <div class="p-1">Life Time Harvest</div>
                <div class="p-1">Ordinary Endowment</div>
                <div class="p-1"> Retiree Life Annuity</div>
                <div class="p-1">Immediate Annuity</div>
                <div class="p-1">Deferred Annuity</div>
                <div class="p-1">Term Assurance</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div>
                <div class="p-1">Whole Life Assurance</div>
                <div class="p-1">Dignity Plan</div>
                <div class="p-1">Tuition Protection</div>
                <div class="p-1">Capital Builder</div>
                <div class="p-1">Esusu Shield</div>
                <div class="p-1">Personal Provident Plan</div>
                <div class="p-1">Investment Plus Plan</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 px-5">
        <div>
          <h6>Custodian Groups</h6>
          <div class="pt-3">
            <div class="p-1">Custodian Investment Plc</div>
            <div class="p-1">Custodian and Alliad Insurance Ltd</div>
            <div class="p-1">Custodian Life Assurance Ltd</div>
            <div class="p-1">Custodian Trustees Ltd</div>
            <div class="p-1">CrusaderSterling Pension Ltd</div>
            <div class="p-1">UPDC Plc</div>
            <div class="p-1">UPDC FM Ltd Assurance</div>
            <div class="p-1">Interstate Securities Ltd.</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  <script>
    var selectContainer = document.querySelector(".custom-select-container");
    var selectElement = selectContainer.querySelector("select");

    selectContainer.addEventListener("click", function () {
      selectElement.focus();
    });

    selectElement.addEventListener("focus", function () {
      selectContainer.classList.add("show-dropdown");
    });

    selectElement.addEventListener("blur", function () {
      selectContainer.classList.remove("show-dropdown");
    });


  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
